@model IEnumerable<ToDoApp.Models.ToDo>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>This is the index</p>

@foreach (var todo in Model)
{
    <div>
        <a href="/Home/Details/@todo.Id"> @todo.Id - @todo.Description</a>
    </div>

}